<md-card>
<form class="example-form">
  <h2>Crea isLoaded: {{loaded$ | async }} isLoading: {{loading$ | async}}</h2>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Valore" [(ngModel)]="transaction.value" name="value">
        </md-form-field>
      </td>
    </tr>
  </table>
</form>
<div class="button-row">
  <button md-raised-button color="primary" (click)="createTransaction()">Crea</button>
</div>
</md-card>

<md-card>
<div class="example-container mat-elevation-z8">
  <div *ngFor='let transaction of transactions$ | async'>
    {{transaction.value}} - {{transaction.date |  date:'medium'}}
  </div>
</div>
</md-card>