<md-card>
<form class="example-form">
  <h2>Crea</h2>
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <md-form-field class="example-full-width">
          <input mdInput placeholder="Valore" [(ngModel)]="transaction.value" name="value">
        </md-form-field>
      </td>
    </tr>
  </table>
</form>
<div class="button-row">
  <button md-raised-button color="primary" (click)="createTransaction()">Crea</button>
</div>
</md-card>

<md-card>
<div class="example-container mat-elevation-z8">

  <md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container mdColumnDef="value">
      <md-header-cell *mdHeaderCellDef> Valore </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.value}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="date">
      <md-header-cell *mdHeaderCellDef> Data </md-header-cell>
      <md-cell *mdCellDef="let row"> {{row.date | date:'medium' }} </md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>

</div>
</md-card>